#nav {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 200;
}

.navLink {
  text-align: center;
  width: 100%;
  padding: 8px;
}

.navLink:not(#star) {
  border: solid 1px var(--accent-color);
}

#nav #star {
  width: min-content;
}
