.section {
  font-size: 4rem;
}
.subSection {
  font-size: 3rem;
}

table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  border-top: 1px solid #000000;
}

table,
td {
  border-bottom: 3px solid red;
}
